<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neko.seed.mapper.CaseMapper">

    <resultMap id="BaseResultMap" type="com.neko.seed.entity.po.Case">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="category" column="category" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category
    </sql>
</mapper>
